
.body {
  background-color: #003366;
  color: #fff;
  margin: 20px;
}
/* Estilos del footer */
footer {
  background-color: #003366;
  margin-top: 120px;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-weight: bold; 
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  font-weight: bold; 
}

/* Estilos del navbar */
.navbar{
  background-color: #003366;
  color: #fff;
  padding: 10px 0;
  font-weight: bold; 
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold; 
  padding: 10px;
}

.navbar a:hover {
  background-color: #003366;
  color: #fff;
}


.navbar-nav .nav-item .nav-link.active {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

.navbar-nav .nav-item .nav-link:active {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item.dropdown:hover .dropdown-menu .dropdown-item:active {
  color: #fff !important;
  text-decoration: none !important;
  font-weight: bold;
  padding: 10px;
}


.navbar .dropdown-item {
  color: #003366;
  font-weight: bold; 
  background-color: #fff;
}

.navbar .dropdown-item:hover {
  color: #fff;
  background-color: #003366;
}

/* Estilos para el formulario de búsqueda */
.d-flex input[type="search"] {
  background-color: #fff;
  color: #000;
  border-color: #fff;
  font-weight: bold;
}

.d-flex button[type="submit"] {
  background-color: #003366;
  color: #fff;
  border-color: #fff;
  font-weight: bold;
}

.d-flex button[type="submit"]:hover {
  background-color: #0b6164;
  border-color: #003366;
  color: #fff;
  font-weight: bold;
  transform: translateY(-2px);
}

/*Titulados*/

    /* Estilo de la tabla */
      .card-table {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        width: 100%;
        border-collapse: collapse;
      }

      .card-table th,
      .card-table td ,h1{
          padding: 8px;
          border-bottom: 1px solid #ddd;
      }
      .pagination {
        margin-left: 0 auto;
        margin-right: 0 auto;
        display: table; /* Centra horizontalmente */
      }
      