body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
  }
  
  header {
    background-color: #e60000bb;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  .program {
    margin-bottom: 20px;
  }
  
  .explore-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #003366;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .explore-button:hover {
    background-color: #003366;
  }
  
  #newsletter {
    background-color: #e6e6e6;
  }
  
  #subscribe-form {
    display: flex;
    margin-top: 10px;
  }
  
  #subscribe-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
  }
  
  #subscribe-form button {
    padding: 10px 20px;
    background-color: #003366;
    color: #fff;
    border: 1px solid #003366;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  #subscribe-form button:hover {
    background-color: #003366;
  }
  
  /* Estilos del footer */
footer {
  background-color: #003366;
  margin-top: 120px;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-weight: bold; 
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  font-weight: bold; 
}
  