{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<header>
    <link rel="stylesheet" type="text/css" href="{% static "css/style_tesis.css" %}">
</header>
<body>
<div class="card-title" >
<h2>Repositorio de Proyectos</h2>
<h6>Carrera De Ingenieria De Sistemas</h6>
</div>
<hr>

<div>
    <form class="d-flex" role="search" method="GET" action="{% url 'tesis' %}">
        <input class="form-control me-2" type="text" name="q" placeholder="Buscar Por Titulo o  Autor o Fecha(AA-MM-DD)" value="{{ query|default_if_none:"" }}">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
</div>
<div class="card-container">
    {% for tesis in tesis %}
    <a href="{% url 'tesis_detalle_p' tesis.pk %}" class="card-link">
        <div class="card">
            <div class="description">
                <h6>{{ tesis.titulo }}</h6>
                <h6>{{ tesis.postulante }}</h6>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

<div class="pagination-container">
    <div class="pagination">
        <div class="step-links">
            {% if tesis.has_previous %}
                <button onclick="location.href='?{% if query %}q={{ query }}&{% endif %}page=1'">&laquo; Primera</button>
                <button onclick="location.href='?{% if query %}q={{ query }}&{% endif %}page={{ tesis.previous_page_number }}'">Anterior</button>
            {% endif %}
            <span class="current">
                Página {{ tesis.number }} de {{ tesis.paginator.num_pages }}.
            </span>
            {% if tesis.has_next %}
                <button onclick="location.href='?{% if query %}q={{ query }}&{% endif %}page={{ tesis.next_page_number }}'">Siguiente</button>
                <button onclick="location.href='?{% if query %}q={{ query }}&{% endif %}page={{ tesis.paginator.num_pages }}'">Última &raquo;</button>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}
