{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
<link rel="stylesheet" type="text/css" href="{% static "css/style_Titulado.css" %}">
</head>
<body>
<h2>Repositorio De Titulados</h2>
<h6>Carrera De Ingenieria De Sistemas</h6>

<form class="d-flex" role="search" method="GET" action="{% url 'titulados' %}">
    <input class="form-control me-2" type="text" name="q" placeholder="Buscar por nombre..." value="{{ query|default_if_none:"" }}">
    <button class="btn btn-outline-success" type="submit">Buscar</button>
</form>
</div>
<div class="card-container">
    {% for estudiante in estudiantes %}
    <div class="card">
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="{% static "image/CIS.png" %}" alt="">
            </div>
        </div>
        <div class="description">
            <h5>Nombre:</h5>
            <h3>{{ estudiante.nombre }}</h3>
            <h5>Apellido:</h5>
            <h3>{{ estudiante.apellido }}</h3>
        </div>
        <div class="contact">
            <a href="{% url 'titulado_detalle' estudiante.pk %}">Mas info</a>
        </div>
    </div>
    {% endfor %}
</div>

<div class="pagination-container">
    <div class="pagination">
        <div class="step-links">
            {% if estudiantes.has_previous %}
                <button onclick="location.href='?{% if query %}q={{ query }}&{% endif %}page=1'">&laquo; Primera</button>
                <button onclick="location.href='?{% if query %}q={{ query }}&{% endif %}page={{ estudiantes.previous_page_number }}'">Anterior</button>
            {% endif %}
            <span class="current">
                Página {{ estudiantes.number }} de {{ estudiantes.paginator.num_pages }}.
            </span>
            {% if estudiantes.has_next %}
                <button onclick="location.href='?{% if query %}q={{ query }}&{% endif %}page={{ estudiantes.next_page_number }}'">Siguiente</button>
                <button onclick="location.href='?{% if query %}q={{ query }}&{% endif %}page={{ estudiantes.paginator.num_pages }}'">Última &raquo;</button>
            {% endif %}
        </div>
    </div>
</div>
</body>

{% endblock %}
