{% extends "base.html" %}
{% load static %}
{% block content %}

<header>
  <link rel="stylesheet" type="text/css" href="{% static "css/style_home.css" %}">
  <h2>¡Bienvenido al Repositorio</h2>
  <h5>Carrera De Ingenieria De Sistemas.!</h5>
</header>
<body>
<section id="Titulados">
  <h2>Repositorio De Titulados</h2>
</section>

<section id="Documentos">
  <h2>Repositorio De Documentos</h2>
</section>

<section id="Trabajos">
  <h2>Repositorio de Trabajos de investigacion</h2>
</section>

<section id="Seguimiento">
  <h2>Seguimiento De Modalidad de Graduacion</h2>
  <br>
  <form action="#" method="post" id="subscribe-form">
    <input type="email" name="email" placeholder="Ingresa tu correo electrónico" required>
    <button type="submit">Suscribirse</button>
  </form>
</section>

</body>
</html>

{% endblock  %}

