{% extends "base.html" %}
{% load static %}
{% block content %}

<header>
  <link rel="stylesheet" type="text/css" href="{% static "css/style_home.css" %}">
  <h1>¡Bienvenido a la UABJB!</h1>
  <p>Descubre una Educación de Calidad</p>
</header>
<body>
<section id="why-uabjb">
  <h2>¿Por qué elegir la UABJB?</h2>
  <ul>
    <li><strong>Excelencia Académica:</strong> Nuestro compromiso con la excelencia académica garantiza que obtengas una educación de calidad y relevante.</li>
    <li><strong>Comunidad Inclusiva:</strong> Formamos parte de una comunidad diversa e inclusiva que valora la colaboración y el respeto mutuo.</li>
    <li><strong>Oportunidades de Investigación:</strong> Fomentamos la investigación y ofrecemos oportunidades para que explores y contribuyas al conocimiento.</li>
  </ul>
</section>

<section id="featured-programs">
  <h2>Nuestros Programas Destacados</h2>
  <div class="program">
    <h3>Licenciatura en [Nombre del Programa #1]</h3>
    <p>[Descripción breve y atractiva del programa #1. Puedes incluir los beneficios clave, las características únicas, etc.]</p>
  </div>
  <div class="program">
    <h3>Maestría en [Nombre del Programa #2]</h3>
    <p>[Descripción breve y atractiva del programa #2. Puedes incluir los beneficios clave, las características únicas, etc.]</p>
  </div>
</section>

<section id="join-us">
  <h2>Únete a Nosotros en la Aventura del Conocimiento</h2>
  <a href="#" class="explore-button">Explorar Programas</a>
</section>

<section id="newsletter">
  <h2>Últimas Noticias y Eventos</h2>
  <p>Mantente al tanto de nuestras últimas noticias, eventos y actividades. Suscríbete para recibir actualizaciones exclusivas directamente en tu correo electrónico.</p>
  <form action="#" method="post" id="subscribe-form">
    <input type="email" name="email" placeholder="Ingresa tu correo electrónico" required>
    <button type="submit">Suscribirse</button>
  </form>
</section>


</body>
</html>

{% endblock  %}

